* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
	padding: 10px 10px;
	align-items: center;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1020;
	height: 70px;
}

.main-layout{
	position: absolute;
	top: 70px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.header-container {
	display: flex;
}

.logo img {
	height: 50px;
}

/*** 導覽列 ***/
.top-nav {
	margin-left: 20px;
}

.top-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.top-nav ul li {
	margin: 0 1em;
	position: relative;
}

.top-nav-title {
	text-decoration: none;
	color: #333;
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 5px;
}

.top-nav ul li.active a {
	color: #20D0B3;
	border-bottom: 2px solid #20D0B3;
}

.top-nav ul li .dropdown {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.top-nav ul li:hover .dropdown {
	display: block;
}

.top-nav ul li .dropdown li {
	padding: 10px;
	white-space: nowrap;
}

.top-nav ul li .dropdown li a {
	font-size: 12px;
	font-weight: 400;
}

/*** 搜尋框 ***/
.search {
	flex-grow: 1;
	margin: 0 40px;
	position: relative;
}

.search-input-container {
	position: relative;
}

.search-icon {
	position: absolute;
	top: 50%;
	left: 25px;
	transform: translateY(-50%);
	color: #ccc;
}

.search input {
	width: 100%;
	padding: 5px 10px 5px 30px;
	/* 增加左側填充以容納圖標 */
	border: 1px solid #ccc;
	border-radius: 20px;
	outline: none;
}

/*** 右上角icon ***/
.icons {
	display: flex;
	align-items: center;
}

.icon-user {
	margin-left: 2em;
	position: relative;
}

.icons img {
	height: 24px;
	width: 24px;
}

.icon-bell {
	position: relative;
	margin-left: 2em;
}

.notification-badge {
	position: absolute;
	top: -5px;
	right: -3px;
	height: 12px;
	width: 12px;
	background-color: #20D0B3;
	border-radius: 50%;
	border: 2px solid white;
}

.fa-circle-user {
	color: #00c3a0;
}

.fa-bell {
	color: #444444;
}

/* 點數顯示樣式 */
.points-display {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    display: inline-block;
}

.current-points {
    font-weight: bold;
    color: #ff9800;
}

.right-container {
	padding: 1.5rem 0.5rem !important;
	overflow-y: auto;
}

main {
	margin-top: 70px !important;
}