.notify-block {
	background-color: #FBF7E8;
	border: 2px solid #FFD233;
	border-radius: 10px;
	padding: 5px;
	width: 95%;
	margin-bottom: 1%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fa-circle-exclamation {
	color: #FFD233;
}

.notify-text {
	font-size: 14px;
	color: black;
}

.dashboard-block {
	background-color: #F9F9F9;
	padding: 10px;
	margin: 1em;
}

.dashboard-title {
	font-size: 18px;
	font-weight: 900;
	color: #008E7B;
}

/*** 教案表格 ***/
.manage-table {
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
	background-color: #ffffff;
	border-radius: 0.35rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.manage-table th, .manage-table td {
	padding: 0.75rem;
	vertical-align: top;
}

.manage-table td {
	border: none;
}

.id-td {
	text-align: center;
}

.status-td {
	text-align: center;
}

.manage-table thead th {
	vertical-align: bottom;
	border: none;
	border-bottom: 2px solid #DFDFDF;
	background-color: white;
	color: #5a5c69;
	font-weight: bold;
}

.badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 80%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.2rem;
}

.badge-success {
	background-color: #4584FF;
	color: white;
}

.badge-warning {
	background-color: #FABB19;
	color: white;
}

/*** 圖表框 ***/
.stat-chart {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*** 統計框 ***/
.icon-color {
	color: #00CB96;
}

.stat-num {
	font-weight: 900;
	color: black;
	font-size: 1.8rem;
}

.stat-text {
	font-weight: 900;
	color: #444444;
}

.dash-square {
	background-color: white;
	border-radius: 10px;
	width: 160px;
	height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	/* 添加陰影效果 */
}

/* 排行榜區塊 */
.lb-tab-area {
	display: flex;
	border-bottom: 1px solid #ddd;
	margin: 20px;
}

.lb-tab {
	width: 10em;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	position: relative;
	font-size: 16px;
	color: #666;
}

.lb-border {
	border-right: 1px solid #ddd;
}

.lb-tab.active {
	color: black;
	font-weight: bold;
}

.lb-tab.active::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 3px;
	background-color: black;
}

.lb-deck {
	display: flex;
	overflow-x: auto;
}

/*** 卡片區域 ***/
/*
.card-deck .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 2em;
    width: 300px;
    height: 300px;
}
*/
.lb-deck {
	transition: box-shadow 0.3s ease-in-out;
}

.lb-deck .card {
	width: 30rem;
}

.lb-deck .card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.lb-deck .card-img-top {
	border-radius: 5px 5px 0 0;
}

.lb-deck .card-body {
	padding: 15px;
}

.lb-deck .card-title {
	font-size: 18px;
	margin-bottom: 5px;
}

.lb-deck .card-text {
	font-size: 14px;
	color: #666;
}

/*** 評論星等 ***/
.rating {
	display: flex;
	align-items: center;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 3px;
}

.rating-number {
	margin-right: 5px;
	color: #333;
}

.stars {
	display: flex;
}

.star {
	color: #f0ad4e;
	/* 使用橙色來表示已填充的星 */
	margin-right: 2px;
}

.star:last-child {
	margin-right: 0;
}

.rating-count {
	margin-left: 5px;
	color: #666;
}

